<div class="col-md-6" style="align-right;">
	<div class="well" style="background-color: white">
		<ul class="list-group">
			<h4>Имя:</h4>
			<li class="list-group-item" style="margin-top: 1em;"><%= @task.name %></li>
			<h4 style="margin-top: 1em;">Описание:</h4>
			<li class="list-group-item" style="margin-top: 1em;"><%= @task.description %></li>
		</ul>
	</div>
</div>