<div class="col-md-6">
	<ul class="list-group">
	  <% @users.each do |i| %>
	    <li class="list-group-item">
	    	<%= i.email %>
	    	<div class="btn-group btn-group-justified" role="group" aria-label="...">
				  <div class="btn-group" role="group">
				    <%= link_to "Профиль", user_path(i), :class => "btn btn-default" %>
				  </div>
				  <% if current_user.admin? %>
				  	<div class="btn-group" role="group">
				    	<%= link_to "Удалить", user_path(i), :class => "btn btn-default", method: :delete, data: {confirm: "Точно удалить?"} %>
				    </div>
				  <% end %>
				</div>
	    </li>
	  <% end %>
	</ul>
</div>