// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task_form{
  width:250% !important;
  max-width: 200px;
  li{
  		max-width: 200px;
      margin: 1em;
  }
  
}